In [1]:
import pandas as pd
training_descriptors = pd.read_csv("training_descriptors.csv", nrows=500)
# nrows=10 => 10s, nrows=100 => 40s, nrows=500 => 3 min

In [2]:
training_descriptors

,sample,FJ478961.1.1449,JF706678.1.1492,JQ919464.1.1367,AB915933.1.1450,JQ825201.1.1480,KJ145789.1.1365,JN023493.1.1478,GQ500796.1.1445,EF019723.1.1331,...,EF516737.1.1433,KJ631121.1.1419,EU133278.1.1316,GU983314.1.1407,LN562424.1.1323,EF018759.1.1407,JN023503.1.1511,EF492970.1.1449,JF226115.1.1303,EF516594.1.1486
0,training_0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,training_1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,training_2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,training_3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,training_4,1,0,0,0,0,0,0,0,61,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,training_495,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,training_496,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,training_497,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,training_498,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,training_499,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
training_descriptors.shape

(500, 121695)

In [4]:
import numpy as np

In [5]:
np.nonzero(training_descriptors[training_descriptors['sample'] == 'training_23'].to_numpy()[0][1:])[0].shape

(7160,)

In [6]:
training_descriptors.drop(['sample'], axis=1)

,FJ478961.1.1449,JF706678.1.1492,JQ919464.1.1367,AB915933.1.1450,JQ825201.1.1480,KJ145789.1.1365,JN023493.1.1478,GQ500796.1.1445,EF019723.1.1331,EU440685.1.1413,...,EF516737.1.1433,KJ631121.1.1419,EU133278.1.1316,GU983314.1.1407,LN562424.1.1323,EF018759.1.1407,JN023503.1.1511,EF492970.1.1449,JF226115.1.1303,EF516594.1.1486
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,61,222,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(0.1))
out = sel.fit_transform(training_descriptors.drop(['sample'], axis=1))

In [8]:
out.shape

(500, 45665)

In [9]:
training_descriptors_witout_sample = training_descriptors.drop(['sample'], axis=1)

In [10]:
keys = training_descriptors.keys().to_numpy()[1:]

In [11]:
y = pd.read_csv("training_environments.csv", nrows=500)

In [12]:
y

       Unnamed: 0           empo_1      empo_2                 empo_3
0      training_0      Free-living  Non-saline     Water (non-saline)
1      training_1      Free-living  Non-saline     Water (non-saline)
2      training_2      Free-living  Non-saline      Soil (non-saline)
3      training_3      Free-living      Saline      Sediment (saline)
4      training_4      Free-living  Non-saline      Soil (non-saline)
..            ...              ...         ...                    ...
495  training_495      Free-living      Saline      Sediment (saline)
496  training_496  Host-associated      Animal         Animal surface
497  training_497  Host-associated      Animal      Animal distal gut
498  training_498  Host-associated      Animal      Animal distal gut
499  training_499      Free-living  Non-saline  Sediment (non-saline)

[500 rows x 4 columns]

In [13]:
y.iloc[:, -1]

0         Water (non-saline)
1         Water (non-saline)
2          Soil (non-saline)
3          Sediment (saline)
4          Soil (non-saline)
               ...
495        Sediment (saline)
496           Animal surface
497        Animal distal gut
498        Animal distal gut
499    Sediment (non-saline)
Name: empo_3, Length: 500, dtype: object

In [14]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
selector = SelectKBest(chi2, k=2)
X_new = selector.fit(training_descriptors_witout_sample, y.iloc[:, -1])

In [15]:
cols = selector.get_support(indices=True)

In [16]:
cols

array([ 6804, 15251])

In [17]:
training_descriptors

,sample,FJ478961.1.1449,JF706678.1.1492,JQ919464.1.1367,AB915933.1.1450,JQ825201.1.1480,KJ145789.1.1365,JN023493.1.1478,GQ500796.1.1445,EF019723.1.1331,...,EF516737.1.1433,KJ631121.1.1419,EU133278.1.1316,GU983314.1.1407,LN562424.1.1323,EF018759.1.1407,JN023503.1.1511,EF492970.1.1449,JF226115.1.1303,EF516594.1.1486
0,training_0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,training_1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,training_2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,training_3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,training_4,1,0,0,0,0,0,0,0,61,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,training_495,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
496,training_496,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,training_497,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,training_498,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,training_499,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
training_descriptors.iloc[:,np.append(0, cols)]

           sample  EU135119.1.1251  EF018417.1.1402
0      training_0                0                0
1      training_1                0                0
2      training_2                3                0
3      training_3                0                0
4      training_4                2                0
..            ...              ...              ...
495  training_495                0                0
496  training_496                0                0
497  training_497                0                0
498  training_498                0                0
499  training_499                0                0

[500 rows x 3 columns]